:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 50;
}

::ng-deep .loading-option {
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 16px !important;
  color: #64748b !important;
}

.dark ::ng-deep .loading-option {
  color: #a3a3a3 !important;
}
